{% extends "base.html" %}
{% block content %}

<h2><span id="pgheader">Login</span></h2>
<a href="/signup" style="padding: 5%"><span id='pgheader'>Create Account</span></a>
<form action="/login" method="post">
  <table id="table">
  <tr>
  <td>
  <!--<label>Username</label>-->
  </td>
  <td>
  <input type="text" name="username" placeholder="Username" value="{{ username }}"/>
  </td>
  </tr>
  <tr>
  <td>
  <!--<label>Password</label>-->
  </td>
  <td>
  <input type="password" placeholder="Password" name="password"/>
  </td>
  </tr>
  </table>
  <input type="submit" value="Login" class="btn"/>
</form>
<p class="error">{{ login_error }}</p>

{% endblock %}
